name: Tests
on: pull_request
jobs:
  unit_test_job:
    name: Unit
    runs-on: macOS-13
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Use Xcode 15
        run: sudo xcode-select -switch /Applications/Xcode_15.0.app
      - name: Run Unit Tests
        run: set -o pipefail && xcodebuild -workspace 'BraintreeDropIn.xcworkspace' -sdk 'iphonesimulator' -configuration 'Debug' -scheme 'UnitTests' -destination 'name=iPhone 14,platform=iOS Simulator'  test  | xcpretty
  ui_test_job:
    name: UI
    runs-on: macOS-13-xlarge
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Use Xcode 15
        run: sudo xcode-select -switch /Applications/Xcode_15.0.app
      - name: Run UI Tests
        run: set -o pipefail && xcodebuild -workspace 'BraintreeDropIn.xcworkspace' -sdk 'iphonesimulator' -configuration 'Debug' -scheme 'UITests' -destination 'name=iPhone 15,platform=iOS Simulator'  test  | xcpretty
